.icon {
  width: 48px;
  height: auto;
  transition-duration: 0.3s;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
    box-shadow: 3px 3px 4px #aaa;
  }
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;

  background-image: url("/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px);
}
